body{
	margin: 0;
	padding: 0;
	background-color: darkblue;
	background-image: url("../images/space-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}
#spaceship{
	background-image: url("../images/spaceship.gif");
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	position: absolute;
	z-index: 10;
}
#planet{
	animation: rotation 120s infinite linear;
	box-shadow: 0 0 50px 20px black inset;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	height: 150px;
	width: 150px;
	top: 0;
	border-radius: 50%;
	background-color: white;
}
#planet:hover{
	outline: 5px dashed white;
}
/*
	"planet2" id was created, and work as atmosphere(the outer shadow) of the planet.
	because "planet" already have a shadow(the inner shadow for shading the planet),
	The reason for doing this is that we can't give a single DIV, two shadows, so
	i created a SUB DIV (planet2) for the atmosphere(the outer shadow).
*/
#planet2{
	box-shadow: 0 0 30px 15px rgb(195, 195, 195);
	height: 100%;
	width: 100%;
	border-radius: 50%;
}
#asteroid1{
	height: 90px;
	width: 90px;
	position: absolute;
	animation: rotation 20s infinite linear;
	background-image:url(../images/planets/astroid.png);
	background-size: cover;
	background-repeat: no-repeat;
}
/*	  UI    */
#sidemenu{
	margin: 0;
	padding: 0;
	background-color: #32332D;
	background-image: url("../images/UI/design3.png");
	border-left: 5px solid #1A1B17;
	width: 200px;
	height: 100%;
	display: block;
	position: absolute;
	transition-duration: 0.5s;
	z-index: 20;
}
#menubutton{
	background-image: url("../images/UI/menubutton.png");
	transition-duration: 0.5s;
	position: absolute;
	right: 0px;
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.8;
	z-index: 21;
	cursor: pointer;
}
#menubutton:focus{outline: none;}
#menubutton:active{border: none;}
#menubutton:hover{opacity: 1;}

.sidemenuItem{
	background-color: white;
	width: 100%;
	height: 8%;
	border-bottom: 2px solid #1A1B17;
	background-image: url("../images/UI/design2.png");
	position: absolute;
	display: block;
	text-align: center;
	vertical-align: middle;
	font-family: monospace;
	transition-duration: 0.35s;
	user-select: none;
}
.sidemenuItem:hover{
	background-image: url("../images/UI/design1.png");
	background-color: #616161;
	color: white;
	cursor: pointer;
}
.sidemenuexitbutton{
	background-color: #F82554;
	width: 100%;
	height: 8%;
	border-bottom: 2px solid #1A1B17;
	position: absolute;
	display: block;
	text-align: center;
	vertical-align: middle;
	font-family: monospace;
	transition-duration: 0.35s;
	user-select: none;
}
.sidemenuexitbutton:hover{
	background-image: url("../images/UI/design4.png");
	background-color: #F82554;
	color: white;
	cursor: pointer;
}
#healthbar{
	background-image: url("../images/UI/healthbar.png");
	background-repeat: no-repeat;
	background-size: cover;
	transform: scaleX(-1);
	position: absolute;
	top: -1px;
	left: -6px;
	height: 51px;
	z-index: 8;
}
#health{
	background-image: url("../images/UI/health.png");
	position: relative;
	background-color: #00E6E7;
	height: 50px;
	z-index: 8;
}
#fuelbar{
	background-image: url("../images/UI/fuelbar.png");
	background-repeat: no-repeat;
	transform: scaleX(-1);
	left: -6px;
	background-size: cover;
	position: absolute;
	height: 51px;
	z-index: 8;
}
#fuel{
	background-image: url("../images/UI/fuel.png");
	position: relative;
	background-color: #00E6E7;
	height: 50px;
	z-index: 8;
}
#gear{
	width: 9%;
	transform: translate(0%,-100%);
	top: 100%;
	border-top: 5px solid #9EA4AD;
	border-right: 5px solid #9EA4AD;
	background-color: #D6DDE7;
	position: absolute;
	font-family: monospace;
	color: #7F7F7F;
	text-align: center;
	background-image: url("../images/UI/geardesign.png");
	background-repeat: repeat;
	user-select: none;
	z-index: 8;
}
#gearhandle{
	width: 70%;
	color: #6D6E6A;
	font-family: monospace;
	text-align: center;
    font-style: italic;
	transform: translate(-50%,-50%);
	user-select: none;
	cursor: pointer;
	border-radius: 8%;
	position: absolute;
	top: 14%;
	left: 50%;
	background-color: #42433E;
	background-image: url("../images/UI/gearhandledesign.png");
	background-repeat: repeat;
	z-index: 8;
}
#unitsbar{
	background-image: url("../images/UI/button1.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 16%;
	height: 53px;
	background-color: white;
	text-align: center;
	position: absolute;
	color: #88D9DA;
	font-family: monospace;
	font-size: 28px;
	top: 0;
	user-select: none;
	z-index: 8;
}
#scanpanel{
	background-image: url("../images/UI/design5.png");
	height: 28%;
	background-color: white;
	position: absolute;
	left: 100%;
	top: 100%;
	transform: translate(-100%,-100%);
	z-index: 8;
	border-top: 5px solid #5A5E5C;
	border-left: 5px solid #5A5E5C;
}
#scan{
	background-image: url("../images/UI/circle.png");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	background-color: #14AFDC;
	border-radius: 100%;
	position: absolute;
	animation: rotation 5s infinite linear;
	z-index: 8;
}
#inventorybutton{
	background-image: url("../images/UI/inventoryicon.png");
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	cursor: pointer;
}
#inventorybutton:hover{
	border-top: 3px solid #D6DDE7;
	border-radius: 10%;
}
#inventory{
	height: 70%;
	width: 40%;
	background-color: #42433E;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: none;
	border-radius: 2%;
	border: 8px solid #383934;
	border-top: 8px solid #6D6E6A;
	color: #7F7F7F;
	font-family: monospace;
	text-align: center;
	z-index: 20;
}
#inventorybackbutton{
	background-color: #6D6E6A;
	height: 10%;
	width: 10%;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	z-index: 8;
}
.slot{
	height: 10%;
	width: 10%;
	background-color: white;
	position: absolute;
	top: 10%;
	margin: 1px;
	border: 1px solid red;
}
.s1,.s2,.s3{top: 20%; left: 10%;}
.s4,.s5,.s6{top: 40%;}
.s7,.s8,.s9{top: 60%;}
#darkscreeninventory{
	height: 100%;
	width: 100%;
	background-color: black;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.8;
	z-index: 9;
	display: none;
}
/*    PLANET STYLES    ( 50 PLANETS )		*/

.planetstyle1 {background-image: url("../images/planets/1.png  ");}
.planetstyle2 {background-image: url("../images/planets/2.png  ");}
.planetstyle3 {background-image: url("../images/planets/3.png  ");}
.planetstyle4 {background-image: url("../images/planets/4.png  ");}
.planetstyle5 {background-image: url("../images/planets/5.png  ");}
.planetstyle6 {background-image: url("../images/planets/6.png  ");}
.planetstyle7 {background-image: url("../images/planets/7.png  ");}
.planetstyle8 {background-image: url("../images/planets/8.png  ");}
.planetstyle9 {background-image: url("../images/planets/9.png  ");}
.planetstyle10{background-image: url("../images/planets/10.png ");}
.planetstyle11{background-image: url("../images/planets/11.png ");}
.planetstyle12{background-image: url("../images/planets/12.png ");}
.planetstyle13{background-image: url("../images/planets/13.png ");}
.planetstyle14{background-image: url("../images/planets/14.png ");}
.planetstyle15{background-image: url("../images/planets/15.png ");}
.planetstyle16{background-image: url("../images/planets/16.png ");}
.planetstyle17{background-image: url("../images/planets/17.png ");}
.planetstyle18{background-image: url("../images/planets/18.png ");}
.planetstyle19{background-image: url("../images/planets/19.png ");}
.planetstyle20{background-image: url("../images/planets/20.png ");}
.planetstyle21{background-image: url("../images/planets/21.png ");}
.planetstyle22{background-image: url("../images/planets/22.png ");}
.planetstyle23{background-image: url("../images/planets/23.png ");}
.planetstyle24{background-image: url("../images/planets/24.png ");}
.planetstyle25{background-image: url("../images/planets/25.png ");}
.planetstyle26{background-image: url("../images/planets/26.png ");}
.planetstyle27{background-image: url("../images/planets/27.png ");}
.planetstyle28{background-image: url("../images/planets/28.png ");}
.planetstyle29{background-image: url("../images/planets/29.png ");}
.planetstyle30{background-image: url("../images/planets/30.png ");}
.planetstyle31{background-image: url("../images/planets/31.png ");}
.planetstyle32{background-image: url("../images/planets/32.png ");}
.planetstyle33{background-image: url("../images/planets/33.png ");}
.planetstyle34{background-image: url("../images/planets/34.png ");}
.planetstyle35{background-image: url("../images/planets/35.png ");}
.planetstyle36{background-image: url("../images/planets/36.png ");}
.planetstyle37{background-image: url("../images/planets/37.png ");}
.planetstyle38{background-image: url("../images/planets/38.png ");}
.planetstyle39{background-image: url("../images/planets/39.png ");}
.planetstyle40{background-image: url("../images/planets/40.png ");}
.planetstyle41{background-image: url("../images/planets/41.png ");}
.planetstyle42{background-image: url("../images/planets/42.png ");}
.planetstyle43{background-image: url("../images/planets/43.png ");}
.planetstyle44{background-image: url("../images/planets/44.png ");}
.planetstyle45{background-image: url("../images/planets/45.png ");}
.planetstyle46{background-image: url("../images/planets/46.png ");}
.planetstyle47{background-image: url("../images/planets/47.png ");}
.planetstyle48{background-image: url("../images/planets/48.png ");}
.planetstyle49{background-image: url("../images/planets/49.png ");}
.planetstyle50{background-image: url("../images/planets/50.png ");}
/*	 ROTATION OF PLANETS	*/
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}
/*	 Shaking	*/
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
/*	 BUGGY	 */
@keyframes lessFuel {
	from {filter: grayscale(10%);}
	to {filter: grayscale(100%);}
}