.bgNoRepeat{
	background-repeat: no-repeat;
	background-size: cover;
}
.centerFont{
	text-align: center;
	font-family: monospace;
}
body{
	margin: 0;
	padding: 0;
	background-color: darkblue;
	background-image: url("../images/space-1.jpg");
	overflow: hidden;
}
#spaceship{
	background-image: url("../images/spaceship.gif");
	text-align: center;
	margin: 0;
	position: absolute;
	z-index: 10;
}
#planet{
	animation: rotation 120s infinite linear;
	box-shadow: 0 0 50px 20px black inset;
	position: absolute;
	height: 150px;
	width: 150px;
	top: 0;
	border-radius: 50%;
	background-color: white;
}
#planet:hover{
	outline: 5px dashed white;
}
/*
	"planet2" id was created, and work as atmosphere(the outer shadow) of the planet.
	because "planet" already have a shadow(the inner shadow for shading the planet),
	The reason for doing this is that we can't give a single DIV, two shadows, so
	i created a SUB DIV (planet2) for the atmosphere(the outer shadow).
*/
#planet2{
	box-shadow: 0 0 30px 15px rgb(195, 195, 195);
	height: 100%;
	width: 100%;
	border-radius: 50%;
}
#asteroid1{
	height: 90px;
	width: 90px;
	position: absolute;
	animation: rotation 20s infinite linear;
	background-image:url(../images/planets/astroid.png);
}
/*	  UI    */
#sidemenu{
	margin: 0;
	padding: 0;
	background-color: #32332D;
	background-image: url("../images/UI/design3.png");
	border-left: 5px solid #1A1B17;
	width: 200px;
	height: 100%;
	display: block;
	position: absolute;
	transition-duration: 0.5s;
	z-index: 20;
}
#menubutton{
	background-image: url("../images/UI/menubutton.png");
	transition-duration: 0.5s;
	position: absolute;
	right: 0px;
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.8;
	z-index: 21;
	cursor: pointer;
}
#menubutton:focus{outline: none;}
#menubutton:active{border: none;}
#menubutton:hover{opacity: 1;}

.sidemenuItem{
	background-color: white;
	width: 100%;
	height: 8%;
	border-bottom: 2px solid #1A1B17;
	background-image: url("../images/UI/design2.png");
	position: absolute;
	display: block;
	vertical-align: middle;
	transition-duration: 0.35s;
	user-select: none;
	text-align: center;
	font-family: monospace;
}
.sidemenuItem:hover{
	background-image: url("../images/UI/design1.png");
	background-color: #616161;
	color: white;
	cursor: pointer;
}
.sidemenuexitbutton{
	background-color: #F82554;
	width: 100%;
	height: 8%;
	border-bottom: 2px solid #1A1B17;
	position: absolute;
	display: block;
	text-align: center;
	vertical-align: middle;
	font-family: monospace;
	text-align: center;
	transition-duration: 0.35s;
	user-select: none;
}
.sidemenuexitbutton:hover{
	background-image: url("../images/UI/design4.png");
	background-color: #F82554;
	color: white;
	cursor: pointer;
}
#healthbar{
	background-image: url("../images/UI/healthbar.png");
	transform: scaleX(-1);
	position: absolute;
	top: -1px;
	left: -6px;
	height: 51px;
	z-index: 8;
}
#health{
	background-image: url("../images/UI/health.png");
	position: relative;
	background-color: #00E6E7;
	height: 50px;
	z-index: 8;
}
#fuelbar{
	background-image: url("../images/UI/fuelbar.png");
	transform: scaleX(-1);
	left: -6px;
	position: absolute;
	height: 51px;
	z-index: 8;
}
#fuel{
	background-image: url("../images/UI/fuel.png");
	position: relative;
	background-color: #00E6E7;
	height: 50px;
	z-index: 8;
}
#gear{
	width: 9%;
	transform: translate(0%,-100%);
	box-shadow: 0 0 30px 5px black inset;
	top: 100%;
	border-top: 5px solid #2C2D2D;
	border-right: 5px solid #2C2D2D;
	background-color: #D6DDE7;
	position: absolute;
	color: #7F7F7F;
	background-image: url("../images/UI/geardesign.png");
	user-select: none;
	z-index: 8;
}
#gearhandle{
	width: 70%;
	color: #6D6E6A;
	font-family: monospace;
	text-align: center;
    font-style: italic;
	transform: translate(-50%,-50%);
	user-select: none;
	cursor: pointer;
	border-radius: 8%;
	position: absolute;
	top: 14%;
	left: 50%;
	background-color: #42433E;
	background-image: url("../images/UI/gearhandledesign.png");
	z-index: 8;
}
#unitsbar{
	background-image: url("../images/UI/button1.png");
	width: 16%;
	height: 53px;
	background-color: white;
	position: absolute;
	color: #88D9DA;
	font-size: 28px;
	top: 0;
	user-select: none;
	z-index: 8;
}
#scanpanel{
	background-image: url("../images/UI/design5.png");
	height: 28%;
	background-color: white;
	position: absolute;
	left: 100%;
	top: 100%;
	transform: translate(-100%,-100%);
	z-index: 8;
	border-top: 5px solid #5A5E5C;
	border-left: 5px solid #5A5E5C;
}
#scan{
	background-image: url("../images/UI/circle.png");
	text-align: center;
	background-color: #14AFDC;
	border-radius: 100%;
	position: absolute;
	animation: rotation 5s infinite linear;
	z-index: 8;
}
#inventorybutton{
	background-image: url("../images/UI/inventoryicon.png");
	position: absolute;
	cursor: pointer;
	transition-duration: 0.4s;
	z-index: 8;
}
#inventorybutton:hover{
	transform: translateY(-10%);
}
#inventory{
	height: 70%;
	width: 40%;
	background-color: #42433E;
	background-image: url("../images/UI/design1.png");
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	transition-duration: 0.4s;
	display: none;
	border-radius: 2%;
	border: 8px solid #383934;
	border-top: 8px solid #6D6E6A;
	color: #4DDFE0;
	z-index: 20;
}
#inventorybackbutton{
	background-image: url("../images/UI/crossbutton.png");
	height: 11%;
	width: 10%;
	position: absolute;
	top: -8px;
	left: -8px;
	cursor: pointer;
	z-index: 8;
}
#inventorybackbutton:active{
	transform: translateY(10%);
}
#bigslot{
	height: 20%;
	width: 20%;
	background-image: url("../images/UI/gearhandledesign.png");
	background-color: black;
	border: 3px solid #88D9DA;
	position: absolute;
	left: 22.5%;top: 15%;
	transition-duration: 0.5s;
}
#infoslot{
	height: 20%;
	background-image: url("../images/UI/design6.png");
	width: 30%;
	background-color: #6A6A67;
	border: 3px solid #88D9DA;
	position: absolute;
	left: 47.5%;top: 15%;
	font-size: large;
	transition-duration: 0.5s;
	color: white;
}
.slot{
	height: 15%;
	width: 15%;
	background-image: url("../images/UI/gearhandledesign.png");
	background-color: black;
	position: absolute;
	border: 3px solid #88D9DA;
}
.s1{left: 22.5%;top: 40%;}
.s2{left: 42.5%;top: 40%;}
.s3{left: 62.5%;top: 40%;}

.s4{left: 22.5%;top: 60%;}
.s5{left: 42.5%;top: 60%;}
.s6{left: 62.5%;top: 60%;}

.s7{left: 22.5%;top: 80%;}
.s8{left: 42.5%;top: 80%;}
.s9{left: 62.5%;top: 80%;}
#useitembutton{
	left: 82.5%;top: 15%;
	position: absolute;
	width: 12%;
	height: 8%;
	background-color: #787875;
	border-bottom: 8px solid #ABB1BA;
	border-radius: 5px;
	cursor: pointer;
	user-select: none;
}
#useitembutton:active{
	border-bottom: 5px solid #8D9094;
	transform: translateY(2px);
	color: #36ADAE;
}
/*	 ITEMS	*/
.quantity{
	height: 22%;width: 22%;
	position: absolute;
	display: none;
	left: 100%;top: 100%;
	transform: translate(-50%,-50%);
	background-color: #058CE6;
	border-radius: 100%;
	color: white;
	border: 1px solid white;
	user-select: none;
}
.item{
	height: 15%;
	width: 15%;
	position: absolute;
	border: 3px solid #88D9DA;
	display: none;	
}
.itemTools{background-image: url("../images/UI/toolsicon.png");cursor: pointer;}
.itemFuel{background-image: url("../images/UI/fuelicon.png");cursor: pointer;}

#helpbutton{
	background-image: url("../images/UI/helpbutton.png");
	position: absolute;
	margin-bottom: 1px;
	cursor: pointer;
	transition-duration: 0.4s;
	z-index: 8;
}
#helpbutton:hover{
	transform: translateY(-10%);
}
#darkscreeninventory{
	height: 100%;
	width: 100%;
	background-color: black;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.8;
	z-index: 9;
	display: none;
}
#movingscreen{
	background-image: url("../images/UI/move4.gif");
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;left: 0;
	display: none;
	opacity: 0.3;
}
/*	 ROTATION OF PLANETS	*/
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}
/*	 Shaking	*/
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
/*	 BUGGY	 */
@keyframes lessFuel {
	from {filter: grayscale(10%);}
	to {filter: grayscale(100%);}
}