body{
	margin: 0;
	padding: 0;
	background-color: darkblue;
	background-image: url("../images/space-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}
#spaceship{
	background-image: url("../images/spaceship.gif");
	text-align: center;
	background-repeat: repeat-y;
	background-size: cover;
	margin: 0;
	position: absolute;
	z-index: 10;
}
#planet{
	animation: rotation 120s infinite linear;
	box-shadow: 0 0 50px 20px black inset;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	height: 150px;
	width: 150px;
	top: 0;
	border-radius: 50%;
	background-color: white;
}
#planet:hover{
	outline: 5px dashed white;
}
/*
	"planet2" id was created, and work as atmosphere(the outer shadow) of the planet.
	because "planet" already have a shadow(the inner shadow for shading the planet),
	The reason for doing this is that we can't give a single DIV, two shadows, so
	i created a SUB DIV (planet2) for the atmosphere(the outer shadow).
*/
#planet2{
	box-shadow: 0 0 30px 15px rgb(195, 195, 195);
	height: 100%;
	width: 100%;
	border-radius: 50%;
}
#astroid1{
	height: 90px;
	width: 90px;
	position: absolute;
	animation: rotation 20s infinite linear;
	background-image:url(../images/planets/astroid.png);
	background-size: cover;
	background-repeat: no-repeat;
}
/*	  UI    */
#healthbar{
	background-image: url("../images/UI/healthbar.png");
	background-repeat: no-repeat;
	background-size: cover;
	transform: scaleX(-1);
	position: absolute;
	top: -1px;
	left: -6px;
	height: 51px;
	z-index: 8;
}
#health{
	background-image: url("../images/UI/health.png");
	position: relative;
	background-color: #00E6E7;
	height: 50px;
	z-index: 8;
}

/*    PLANET STYLES    ( 50 PLANETS )		*/

.planetstyle1 {background-image: url("../images/planets/1.png  ");}
.planetstyle2 {background-image: url("../images/planets/2.png  ");}
.planetstyle3 {background-image: url("../images/planets/3.png  ");}
.planetstyle4 {background-image: url("../images/planets/4.png  ");}
.planetstyle5 {background-image: url("../images/planets/5.png  ");}
.planetstyle6 {background-image: url("../images/planets/6.png  ");}
.planetstyle7 {background-image: url("../images/planets/7.png  ");}
.planetstyle8 {background-image: url("../images/planets/8.png  ");}
.planetstyle9 {background-image: url("../images/planets/9.png  ");}
.planetstyle10{background-image: url("../images/planets/10.png ");}
.planetstyle11{background-image: url("../images/planets/11.png ");}
.planetstyle12{background-image: url("../images/planets/12.png ");}
.planetstyle13{background-image: url("../images/planets/13.png ");}
.planetstyle14{background-image: url("../images/planets/14.png ");}
.planetstyle15{background-image: url("../images/planets/15.png ");}
.planetstyle16{background-image: url("../images/planets/16.png ");}
.planetstyle17{background-image: url("../images/planets/17.png ");}
.planetstyle18{background-image: url("../images/planets/18.png ");}
.planetstyle19{background-image: url("../images/planets/19.png ");}
.planetstyle20{background-image: url("../images/planets/20.png ");}
.planetstyle21{background-image: url("../images/planets/21.png ");}
.planetstyle22{background-image: url("../images/planets/22.png ");}
.planetstyle23{background-image: url("../images/planets/23.png ");}
.planetstyle24{background-image: url("../images/planets/24.png ");}
.planetstyle25{background-image: url("../images/planets/25.png ");}
.planetstyle26{background-image: url("../images/planets/26.png ");}
.planetstyle27{background-image: url("../images/planets/27.png ");}
.planetstyle28{background-image: url("../images/planets/28.png ");}
.planetstyle29{background-image: url("../images/planets/29.png ");}
.planetstyle30{background-image: url("../images/planets/30.png ");}
.planetstyle31{background-image: url("../images/planets/31.png ");}
.planetstyle32{background-image: url("../images/planets/32.png ");}
.planetstyle33{background-image: url("../images/planets/33.png ");}
.planetstyle34{background-image: url("../images/planets/34.png ");}
.planetstyle35{background-image: url("../images/planets/35.png ");}
.planetstyle36{background-image: url("../images/planets/36.png ");}
.planetstyle37{background-image: url("../images/planets/37.png ");}
.planetstyle38{background-image: url("../images/planets/38.png ");}
.planetstyle39{background-image: url("../images/planets/39.png ");}
.planetstyle40{background-image: url("../images/planets/40.png ");}
.planetstyle41{background-image: url("../images/planets/41.png ");}
.planetstyle42{background-image: url("../images/planets/42.png ");}
.planetstyle43{background-image: url("../images/planets/43.png ");}
.planetstyle44{background-image: url("../images/planets/44.png ");}
.planetstyle45{background-image: url("../images/planets/45.png ");}
.planetstyle46{background-image: url("../images/planets/46.png ");}
.planetstyle47{background-image: url("../images/planets/47.png ");}
.planetstyle48{background-image: url("../images/planets/48.png ");}
.planetstyle49{background-image: url("../images/planets/49.png ");}
.planetstyle50{background-image: url("../images/planets/50.png ");}
/*	 ROTATION OF PLANETS	*/
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}