body{
	margin: 0;
	padding: 0;
	border: none;
}

/* ATMOSPHERE */

.atmosphere1{

}
.atmosphere2{

}
.atmosphere3{

}
.atmosphere4{

}
.atmosphere5{

}

/*  LAND  */

.land1{

}
.land2{

}
.land3{

}
.land4{

}
.land5{
	
}