@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap'); /* Open Sans Font */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: url('../images/bg.png') no-repeat;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}
.container {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.top {
    height: 50%;
    display: flex;
    align-items: center;
}
.bottom {
    height: 50%;
    display: flex;
    align-items: flex-start;
}
.logo {
    color: #FFFEF8;
    line-height: .8;
}
.logo h1 {
    font-size: 80px;
    font-weight: 600;
    transform: scaleY(2);
    text-align: center;
}
br {display:inline;}
.btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn {padding: 20px 0;}
.btn button {
    height: 50px;
    width: 280px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: black;
    font-size: 36px;
    font-family: monospace;
    transform: skewX(-12deg);
    opacity: 0.6;
    /* Don't touch anything below this */
    background: rgba( 255, 255, 255, 0.60 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 16.0px );
    -webkit-backdrop-filter: blur( 16.0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    /* Don't touch anything above this */
}
.version {
    position: absolute;
    right: 25px;
    bottom: 25px;
    color: #FFFEF8;
    font-weight: bold;
}
.logo, .btn button {user-select: none;}
button:hover {
    cursor: pointer;
    transition: 0.5s;
    /* Don't touch anything below this */
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8.0px );
    -webkit-backdrop-filter: blur( 8.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    /* Don't touch anything above this */
}
@media(min-width:545px) {
    .logo h1 {font-size: 100px;}
    br {display: none;}}